@import "_mix";
/*清除默认样式*/
//*{
//-webkit-box-sizing: border-box;
//-moz-box-sizing: border-box;
//box-sizing: border-box;
//}
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select,button {
  margin: 0;
  padding: 0; 
}
body{
  min-width: 1200px;
  font-size: 14px;
  color: #555;
  font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6,strong{
  font-weight:normal;
}
div,span,p,a{
  word-wrap: break-word;
  word-break: normal;
}
ul,ol,dl{
  list-style: none;
}
img{
  vertical-align: middle;
  border:0;
}
a{
  text-decoration: none;
  color:inherit;
}
input, textarea {
  outline: none;
  border: none;
}
i,em{
  font-style: normal;
}
button{
  border:0;
}
a,button,input,optgroup,select,textarea, div {
  -webkit-tap-highlight-color:rgba(0,0,0,0)
}
input:focus,textarea:focus,select:focus{
  outline:none;
}
.main_body{
    position: relative;
    width:1200px;
    margin:auto;
}
//单行文本溢出省略
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
//两行溢出显示省略号
.ellipsis_clip {
    display: -webkit-box;
    overflow: hidden;

    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
//3行溢出显示省略号
.ellipsis_clip3 {
    display: -webkit-box;
    overflow: hidden;

    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;

    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
//浮动
.pull_left{
    float: left;
}
.pull_right{
    float: right;
}
//文字排版
.text_left{
    text-align: left;
}
.text_center{
    text-align: center;
}
.text_right{
    text-align: right;
}
//清除浮动
.clear{ 
    width: 0;
    clear: both;
}
//大图居中
.img_center{
    display: block;
    position: relative;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
}
//手型
.pointer{
    cursor: pointer;    
}
